.blog-theme-class {
    margin-top: 0.3%;
    padding: 3%;
    background: #008cba;
    .jumb-bot {
        background: #008cba;
    }
    .jumbotron {
        background: #008cba;
        h1 {
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
}

.blog-post-small {
    border-bottom: #008CBA 1px dashed;
    text-align: justify;
        padding: 20px;
    p {
        font-size: 13.6px;
    }
    h3 {
        font-size:20px;
    }
}

.bg-header-div {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    min-height: 400px;
    background: url('../images/bg_header.jpg');
    background-repeat: no-repeat;
    background-position: 60% 30%;
    position: relative;
    h1 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        color: #fff;
    }
}

.bg-post-header-div {
    background: #5C97FF;
    overflow: hidden;
    min-height: 300px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 60% 30%;
}

.bg-pre-header {
    padding: 60px 0 30px;
    min-height: 150px;
    background: #EDEDED;
    text-align: center;
    h2 {
        color: #252525;
    }
    p {
        color: #252525;
    }
}

.navbar {
    margin-bottom: 0px;
}

.jumb-bot {}

.jumb-bot-jumbu {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 20px;
    background: #eee;
    p {
        padding-top: 13px;
    }
}

.left-syms {
    font-size: 20px;
    li a span {
        font-size: 12.5px;
        display: none;
    }
}

.listgroup-div {
    margin-top: 10px;
}

.author_block {
    padding: 2%;
    p {
        line-height: 44px;
        font-size: 13px;
    }
    ul {
        display: block;
        padding: 0;
        float: left;
        li {
            float: left;
            display: block;
            font-size: 24px;
            padding: 5px;
            a {
                text-decoration: none;
            }
        }
    }
}

.blog-post-content {
    font-size: 14px;
    img {
        max-width: 100%;
        border: #eee 2px solid;
    }
}

.twitter_share {
    float: left;
    padding: 10px;
}

.fb_share {
    float: left;
    padding: 10px;
}

.linkedin_share {
    float: left;
    padding: 10px;
    padding-left: 0px;
}

.g_share {
    float: left;
    padding: 10px;
}

.footer {
    a {
        font-size: 13px;
        text-decoration: none;
        color: #466C77;
        &:after {
            content: "";
        }
    }
    h4 {
        color: #466C77;
    }
}

.share-div {
    padding: 3%;
    padding-left: 1%;
    padding-top: 1%;
}

.recent_posts li {
    display: block;
    color: #fff;
}

.footer {
    background: #F3F7F8;
    margin-top: 10px;
    ul {
        display: block;
        margin-left: 0px;
        padding-left: 0px;
        li {
            display: block;
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.end_footer {
    background: #F3F7F8;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #F3F7F8 1px solid;
}

.end_footer p {
    margin-top: 10px;
    font-size: 13px;
    color: #466C77;
    text-align: left;
}

.footer-logo {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    padding: 0px;
}

@media screen and (max-width: 480px) {
    .left-syms li a span {
        display: block;
    }
}

.center-aligned-div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
